requests
pandas
numpy
python-dotenv
pymongo[srv]>=4.0.0
openai>=1.0.0
google-generativeai
moralis
yfinance
flask
flask-cors
scikit-learn
lightgbm
matplotlib
plotly
lxml

# Qlib and its required dependencies
pyqlib
dill
filelock
fire
joblib
loguru
pyarrow
pydantic-settings
ruamel.yaml
tqdm
mlflow
gymnasium
