requests
pandas
numpy
python-dotenv
pymongo
openai
google-generativeai
moralis
yfinance
flask
flask-cors
scikit-learn
lightgbm
matplotlib
plotly

# Qlib and its required dependencies
pyqlib
dill
filelock
fire
joblib
loguru
pyarrow
pydantic-settings
ruamel.yaml
tqdm
mlflow
gymnasium
