@import 'tailwindcss' source(none);
@source '../**/*.{js,ts,jsx,tsx}';

@import 'tw-animate-css';

@layer base {
  body {
    font-family: var(--font-sans);
  }
  
  /* Apply monospace font to specific elements */
  .font-mono,
  code,
  kbd,
  samp,
  pre {
    font-family: var(--font-mono);
  }
}